.pictures {
  button {
    margin: $spacing;
  }
  .danger {
    display: flex;
    align-items: center;
    padding: $spacing / 2;
    height: 100%;
    width: 100%;
    button {
      margin: 0;
    }
  }
  @include phone {
    & {
      display: inline-block;
      width: auto;
      position: relative;
    }
    .creepy:first-child {
      position: absolute;
      top: -$spacing;
      right: -2 * $spacing;
      width: 60px;
      height: auto;
      z-index: 100;
    }
    .video {
      width: 175px * 0.9;
      height: 225px * 0.9;
    }
  }
}
