.code {
  overflow: auto;
  .line {
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
    font-size: 90%;
    position: relative;
    display: flex;
    line-height: 1.2;
    .delimiter {
      color: #93ddfd;
    }
    .tag {
      color: #ff8383;
    }
    .name {
      color: #ffe484;
      flex-shrink: 0;
    }
    .base-url {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .value {
      color: #b5f4a5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  button {
    position: absolute;
    bottom: $spacing / 4;
    right: $spacing / 4;
    margin: $spacing / 4;
  }
}
