.logo {
  text-transform: lowercase;
  position: relative;
  .eye {
    @include square(0.33em);
    border-radius: 50%;
    position: absolute;
    background: $color-main;
    .light & {
      background: white;
    }
    &:nth-child(1) {
      top: 0.05em;
      left: 1.25em;
    }
    &:nth-child(2) {
      top: 0.04em;
      left: 1.83em;
    }
    .windows & {
      top: 0.33em;
    }
    .pupil {
      @include square(0.33em * 0.4);
      border-radius: 50%;
      background: white;
      position: absolute;
      right: 15%;
      top: 15%;
      .light & {
        background: $color-text;
      }
    }
  }
  .pointer {
    width: 0.9em;
    position: absolute;
    top: -0.85em;
    left: 2.2em;
    fill: white;
    pointer-events: none;
    .light & {
      fill: $color-text;
    }
    .windows & {
      top: -0.55em;
      &.liferay {
        top: -0.7em;
      }
    }
    &.liferay {
      top: -1em;
      left: 2.4em;
      width: 0.8em;
    }
  }

  &.animate {
    $duration: 0.7s;
    .pupil {
      animation: pupil $duration cubic-bezier(0.02, 0.01, 0.21, 1);
      @keyframes pupil {
        10% {
          transform: translateX(0);
        }
        65% {
          animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
          transform: translateX(-80%);
        }
      }
    }
    .pointer {
      animation: pointer $duration cubic-bezier(0.02, 0.01, 0.21, 1);
      @keyframes pointer {
        50% {
          animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
          transform: translateX(-1.75em);
        }
      }
    }
  }
}
