@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:400,700');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  @include s {
    font-size: 12px;
  }
  @include m {
    font-size: 14px;
  }
  min-width: 227px;
  min-height: 419px;
  @include horizontal {
    min-height: 350px;
  }
}

body {
  @extend %center;
  padding: $spacing $spacing $spacing $spacing;
  @include horizontal {
    padding: 4 * $spacing;
  }
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border-top: solid 4px darken($color-main, 10%);
  background-image: linear-gradient(
    to bottom,
    $color-main,
    darken($color-main, 5%)
  );
  color: white;
  @media (pointer: coarse) {
    overscroll-behavior: contain;
  }
}

kbd {
  @extend %shadow;
  @extend %round;
  color: white;
  background-color: #212529;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}

a {
  @include link;
  .light & {
    @include link($color-text);
  }
  .danger & {
    @include link(white);
  }
}
