@import 'reboot';
@import 'mixins';
@import 'button';
@import 'page';
@import 'logo';

#root,
html,
body {
  height: auto !important;
  max-height: initial !important;
  display: block !important;
  min-height: 100%;
}

.chart {
  @extend %media;
  padding: $spacing;
  max-width: 60%;
  margin: $spacing auto;

  .options {
    display: flex;
    margin: $spacing;
    > input {
      width: 60px;
    }
    .select-chart {
      margin-left: $spacing;
      flex-grow: 1;
      display: inline-block;
    }
  }
}

.top-bar {
  @extend %media;
  padding: $spacing;
  border-radius: 0;
  border: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 4 * $spacing;
  h1 {
    margin-left: $spacing / 4;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
  }
  a,
  button {
    vertical-align: middle;
    margin: 0 $spacing / 4;
    padding: $spacing / 2;
    border: none;
    line-height: 1;
  }
}

#root {
  max-width: 100%;
  margin-top: 4 * $spacing;
  > header {
    @extend .top-bar;
  }
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  &.small {
    li {
      @include square(64px);
      margin: $spacing / 2.5;
      @include m {
        @include square(150px);
        margin: $spacing / 2;
      }
      .creepy {
        @include square(64px);
        @include m {
          @include square(150px);
        }
      }
    }
  }
  &.big {
    li {
      @include square(150px);
      margin: $spacing / 2.5;
      @include m {
        @include square(300px);
        margin: $spacing / 2;
      }
      .creepy {
        @include square(150px);
        @include m {
          @include square(300px);
        }
      }
    }
  }
  li {
    display: inline-block;
    position: relative;
    .creepy {
      transition: all ease 0.1s;
      cursor: pointer;
    }
    label {
      position: relative;
      margin: 0;
      .badges {
        position: absolute;
        top: -$spacing / 2;
        right: -$spacing / 2;
        z-index: 2;
        .badge {
          padding: 0 $spacing / 4;
          margin-left: $spacing / 4;
          @extend %media;
        }
      }
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked + .creepy {
        border: solid 5px white;
      }
    }
    .actions {
      position: absolute;
      bottom: $spacing / 2;
      left: 0;
      right: 0;
      margin-top: $spacing / 2;
      button {
        margin: 0 $spacing / 4;
      }
    }
  }
}

#selection {
  @extend .top-bar;
  .info {
    float: left;
    > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .actions {
    float: right;
  }
}

.filter {
  position: fixed;
  right: $spacing;
  top: $spacing;
}
