.pictures {
  button {
    margin: $spacing;
  }
  .danger {
    display: flex;
    align-items: center;
    padding: $spacing;
    height: 100%;
    width: 100%;
    button {
      margin: 0;
    }
  }
  @media (max-width: 400px) {
    display: inline-block;
    width: auto;
    position: relative;
    .creepy:first-child {
      position: absolute;
      top: -$spacing;
      right: -2 * $spacing;
      width: 4 * $spacing !important;
      height: auto !important;
      z-index: 100;
    }
  }
}
