{
    "plugins": ["transform-class-properties"],
    "presets": [
        ["env", {
            "modules": false
        }], "flow"
    ],
    "env": {
        "test": {
            "plugins": ["transform-class-properties"],
            "presets": ["env"]
        }
    }
}
