.admin {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 4rem 0;
  .panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    header {
      @extend %center-row;
      margin-bottom: $spacing / 2;
      .title {
        flex-grow: 1;
      }
      .controls {
        @extend %center-row;
        gap: $spacing / 2;
        button {
          margin: 0;
        }
      }
    }
    main {
      position: relative;
      flex-grow: 1;
    }
  }
  .actions {
    @extend %center;
    padding: 0 1rem;
  }
}
