@mixin button($color, $background) {
  @include link($color);
  &:not(.link):not(.creepy) {
    &:not(.custom) {
      border-color: $color;
      .light & {
        border-color: currentColor;
      }
    }
    &:disabled {
      opacity: 0.5;
    }
    &:not(:disabled):hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      &.custom {
        border-color: $color;
      }
      background: $color;
      color: $background;
      text-decoration: none;
      .light & {
        background: $color-text;
        color: $color;
        border-color: $color-text;
      }
    }
  }
}

button,
.button {
  @include button(white, $color-text);
  position: relative;
  background: none;
  padding: 0;
  font-size: 1em;
  transition: all ease 0.2s;

  &:not(.link):not(.creepy) {
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    padding: math.div($spacing, 4) math.div($spacing, 2);
    margin: $spacing math.div($spacing, 2);
    vertical-align: middle;
    &.negative {
      @include button($color-danger, white);
    }
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  .shortcut {
    @extend %absolute-center;
    bottom: -0.8em;
  }
  &.link {
    border: none;
  }
  &:not(.creepy).tiny {
    font-size: 0.8em;
    border: none;
    padding: math.div($spacing, 6) math.div($spacing, 3);
  }
  &.invert {
    background-color: white;
    color: $color-text;
  }
  &.custom {
    background-color: var(--color-custom-primary, white);
    border-color: var(--color-custom-primary, white);
  }
  .badge {
    @extend %media;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $spacing / 8 $spacing / 8;
    font-weight: bold;
    position: absolute;
    line-height: 1;
    top: -$spacing / 1.5;
    right: -$spacing / 2;
  }
}
