.creepyfaces {
  @extend %center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &.fullscreen {
    overflow: hidden;
    ul {
      border-radius: 0;
      box-shadow: none;
      overflow: initial;
    }
  }
  button.previous,
  button.next {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }
  button.previous {
    left: 2 * $spacing;
  }
  button.next {
    right: 2 * $spacing;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    @extend %round;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  li {
    display: inline-block;
    .creepy {
      border: none;
      border-radius: 0;
      box-shadow: none;
      &,
      img {
        transition: all ease-in-out 100ms;
      }
      @include square(100%);
      img {
        width: 100%;
      }
      .loader {
        font-size: 0.7rem;
        bottom: math.div($spacing, 4);
        right: math.div($spacing, 4);
      }
      &:focus-visible {
        padding: $spacing / 2;
        img {
          @extend %round;
        }
      }
    }
  }
  &.dim {
    li:not(.selected) {
      .creepy {
        opacity: 0.3;
      }
      button.creepy:hover:not(:disabled),
      button.creepy:focus-visible {
        opacity: 0.5;
      }
    }
  }
}
