.ReactModalPortal {
  z-index: 1;
  .ReactModal__Overlay {
    background-color: rgba($color-main, 0.85) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ReactModal__Content {
    @extend %card;
    max-height: 100%;
    position: relative;
    background: white;
    overflow: auto;
    padding: $spacing;
    margin: $spacing;
    .cancel {
      position: absolute;
      padding: $spacing / 2;
      top: $spacing / 2;
      right: $spacing / 2;
      margin: 0;
      background: none;
      border: none;
      line-height: 1;
    }
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    .ReactModal__Content {
      transform: translateY(15px);
      transition: all 200ms ease-in-out;
    }
  }
  .ReactModal__Overlay--after-open {
    opacity: 1;
    .ReactModal__Content {
      transform: translateY(0);
    }
  }
  .ReactModal__Overlay--before-close {
    opacity: 0;
    .ReactModal__Content {
      transform: translateY(15px);
    }
  }
}
