.namespace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .sample {
    position: fixed !important;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 100% !important;
    max-width: 100% !important;
    .creepyfaces ul {
      box-shadow: none;
      border-radius: 0;
    }
  }
  header {
    position: absolute;
    top: 5 * $spacing;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    @include fade-in-up(0.2s);
    img {
      height: 4rem;
      max-width: 100%;
    }
    .subtitle {
      text-transform: uppercase;
      .logo {
        svg {
          height: 1.6em;
        }
      }
    }
  }
  .actions {
    @include fade-in-up(0.3s);
    position: absolute;
    bottom: 5 * $spacing;
    text-align: center;
  }
}
