@import '~@fontsource/open-sans/index.css';
@import '~@fontsource/open-sans/700.css';

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

html {
  @include s {
    font-size: 12px;
  }
  @include m {
    font-size: 14px;
  }
}

body {
  @extend %center;
  padding: $spacing $spacing $spacing $spacing;
  @include horizontal {
    padding: 4 * $spacing;
    background-image: linear-gradient(
      165deg,
      $color-main 0%,
      $color-gradient 55%
    );
  }
  @include vertical {
    background-image: linear-gradient(
      180deg,
      $color-main 0%,
      $color-gradient 60%
    );
  }
  font-family: 'Open Sans', sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  margin: 0;
  color: white;
  @media (pointer: coarse) {
    overscroll-behavior: contain;
  }
}

kbd {
  @extend %shadow;
  @extend %round;
  color: white;
  background-color: #212529;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}

a {
  @include link;
}
