name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install
        run: yarn
      - name: Build
        run: yarn build
      - name: Test
        run: yarn workspace creepyface test
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./packages/creepyface/coverage/lcov.info
          base-path: ./packages/creepyface
      - name: Deploy Docker Image
        if: github.ref == 'refs/heads/master'
        uses: 4lejandrito/cloud-deploy-action@main
        with:
          test-command: yarn workspace creepyface-site test:docker
          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
